{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "no-console": ["warn", { "allow": ["log", "error"] }],
    "no-undef": "off"
  }
}
